<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <property name="logging.dir" value="${logging.dir:-logs}" />
    <property name="logging.file" value="${logging.file:-pulsar.log}" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.dir}/${logging.file}</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%.10thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/${logging.file}.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="DRFA"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="ai.platon.pulsar" level="INFO"/>

</configuration>
